body {
  background-color: #cbd4d8;
}

.profession {
  color: #85b8d1;
  font-size: 25px;
  font-family: monospace;
  font-weight: bolder;
}

.edu-bold {
  font-weight: bolder;
  text-decoration: underline;
}
